{% extends "base.html" %}

{% block title %}Contact Us - Skin Type Identifier{% endblock %}

{% block content %}

<h4><i>Have questions or need assistance?</i></h4>
<p>We're here to help! Feel free to contact us using the information below:</p>
<span style="color: rgb(163, 6, 106);">
    <p>Email: sanjanasolangaarachchi@gmail.com</p>
    <p>Phone: +94719640127</p>
</span>
<img src="{{ url_for('static', filename='src/contact.jpg') }}" alt="SkincareForYou" width="700px" class="skin-img" />
{% endblock %}