{% extends "base.html" %}

{% block title %}Home - Skin Type Identifier{% endblock %}

{% block content %}


<img src="{{ url_for('static', filename='src/home.jpeg') }}" alt="SkincareForYou" width="700px" class="skin-img" />
<h1 style="text-align: center;">Welcome to GlowUpGuide !!!</h1>
<p>Your skin is unique, and so should your skincare routine.</p>
<p>Discover your skin type with our AI-powered tool and get personalized recommendations tailored to your needs.</p>
<p>Upload a photo of your skin and let our algorithm do the work. In just a few clicks, you'll have a deeper
    understanding of your skin and how to care for it optimally.</p>
<p>Start your skincare journey today!</p>


{% endblock %}