<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skin Type Prediction</title>
</head>
<body>
    <h1>Upload an Image to Identify Skin Type</h1>
    <form action="/predict" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept="image/*" required onchange="clearPreviousResults(); previewImage(event)">
        <br><br>
        <label for="age">Age:</label>
        <input type="number" name="age" id="age" required>
        <br><br>
        <label for="allergies">Do you have any allergies? </label>
        <select name="allergies" id="allergies" required>
            <option value="no">No</option>
            <option value="yes">Yes</option>
        </select>
        <br><br>
        <input type="submit" value="Upload">
    </form>

    <div id="results">

        {% if prediction %}
            <h2>Prediction: {{ prediction }}</h2>
            <p>Recommendations: {{ recommendation }}</p>
        {% endif %}
    </div>

    <script>
        function previewImage(event) {
            var reader = new FileReader();
            reader.onload = function(){
                var output = document.getElementById('uploadedImage');
                if (output) {
                    output.src = reader.result;
                } else {
                    var img = document.createElement('img');
                    img.id = 'uploadedImage';
                    img.src = reader.result;
                    img.width = 300;
                    document.getElementById('results').appendChild(img);
                }
            }
            reader.readAsDataURL(event.target.files[0]);
        }

        function clearPreviousResults() {
            var resultsDiv = document.getElementById('results');
            resultsDiv.innerHTML = '';
        }
    </script>
</body>
</html>
